.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size:smaller;
    color: black;
}

.direction {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:small;
    color: black;
    background-color:lightblue ;
}

.direction:hover{
    color:crimson;
    background-color: aquamarine;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: aqua;
    transition:all 0.3s ease;
}
.name:hover{
    text-shadow: 2px 2px 4px rgba(25, 0, 0, 0.7);
    border: 2px solid blueviolet;
    padding: 1px;
    width:fit-content;
}
.CHA {
    color:aquamarine;
}

.CHB {

    color:brown ;
}
.CH {
 
    color: olive;
}
table{
    border: 1px solid;
    border-collapse: separate;
    box-sizing: border-box;
    text-align:initial;
    border-spacing: 2px;
    border-color:gray;
}

th{
    background-color:lightgreen;
    color: black;
    padding: 5px;
    text-align: center;
}

td{
    border:1px solid black;
    background-color: lightgoldenrodyellow;
    color:black;
    text-align: center;
    padding: 5px; 
}

    ul.navbar-horizontal li {
    float:left; 
    color:red;
    background-color:lavender;
    padding: 10px;
    }
    ul.navbar-horizontal a {
    display:block;
    padding:9px
}
    ul.navbar-horizontal a:hover {
    background-color: #555;
    color:white;
    }
    
