.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size:smaller;
    color: black;
}

.direction {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:small;
    color: black;
    background-color:lightblue ;
}

.direction:hover{
    color:crimson;
    background-color: aquamarine;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: aqua;
}
.CHA {
    color:aquamarine;
}

.CHB {

    color:brown ;
}
.CH {
 
    color: olive;
}
table{
    border: 1px solid;
    border-collapse: separate;
    box-sizing: border-box;
    text-align:initial;
    border-spacing: 2px;
    border-color:gray;
}

th{
    background-color:lightgreen;
    color: black;
    padding: 5px;
    text-align: center;
}

td{
    border:1px solid black;
    background-color: lightgoldenrodyellow;
    color:black;
    text-align: center;
    padding: 5px; 
}

